<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-81D6829LG0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-81D6829LG0');
</script>

<style>
  /* Default link style  */
  a {
    color: #007bff; /* Default link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
  }

  /* Hover effect */
  a:hover {
    color: #0056b3; /* Change color on hover */
    text-decoration: underline; /* Add underline on hover */
    text-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5); /* Optional glow effect */
  }

  /* Optional: Visited link style */
  a:visited {
    color: #4b7192; /* Change color for visited links */
  }
</style>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Dr. Andrew Gilbert",
    "jobTitle": "Associate Professor in Machine Learning",
    "affiliation": {
      "@type": "Organization",
      "name": "University of Surrey"
    },
    "url": "https://andrewjohngilbert.github.io/",
    "sameAs": [
      "https://scholar.google.co.uk/citations?hl=en&user=NNhnVwoAAAAJ",
      "https://www.linkedin.com/in/andrew-gilbert",
      "https://c-cats.ac/"
    ],
    "description": "Dr. Andrew Gilbert specializes in machine learning, computer vision, and interdisciplinary AI research."
  }
  </script>

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->